:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --box-shadow-button: rgba(0, 0, 0, 0.15);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header__container {
  display: flex;
  align-items: center;
}

/* ====== Start HEADER ====== */

/* start - header__logo */
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  width: 115px;
  margin-right: 76px;
}

.logo_color-black {
  font-family: var(--second-family);
  color: var(--navy-blue);
}

.logo_color-white {
  font-family: var(--second-family);
  color: var(--cloud);
}

/* finished - header__logo  */

/* start - nav */

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .nav__link:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: 0px;
  
} */

.is-active {
  color: var(--ocean);
}
.is-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -1px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--ocean);
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

/* finished - nav */

/* start - address */
.address__list {
  display: flex;
}

address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-right: 40px;
}
.address__contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
  color: var(--ocean);
}

/* finished - address */

/* ======== End HEADER ======== */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* start - hero section */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/people-office.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 0;
}

.hero__title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: var(--font-family);
  background-color: var(--iris);
  font-size: 16px;
  letter-spacing: 0.04em;

  font-weight: 500;
  line-height: 1.5;

  color: var(--white);
  box-shadow: 0 4px 4px 0 var(--box-shadow-button);

  padding: 12px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

/* finished - hero section */

/* =========Start QUALITY_SECTION ===========*/

/* start - quality section */
.quality-list {
  display: flex;
  gap: 24px;
}

.quality-list__item {
  width: calc((100% - 72px) / 4);
}

.quality-list__container {
  background-color: var(--cloud);
  padding: 24px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid #000;
  margin-bottom: 8px;
  border-radius: 4px;
}

.quality-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.quality-list__description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* finished - quality section */
/* =========Finish QUALITY_SECTION ===========*/
/* start - team section */

/* =========Start TEAM_SECTION ===========*/

.team {
  background-color: var(--cloud);
}

.team__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list__item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--white);
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-list__container {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  padding: 32px 0;
}

.team-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-list__description {
  margin-bottom: 8px;
}

/* ++++ */
/* .team-list__description {
  padding: 32px 0;
} */
/* ++++ */
.icon-list__container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  gap: 24px;
}

.icon-list__container-links {
  width: 40px;
  height: 40px;
}
.icon-list__container-link {
  width: 100%;
  height: 100%;

  background-color: var(--iris);
  border-radius: 50%;

  display: flex;

  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__icon {
  fill: var(--cloud);
}

.icon-list__container-link:hover,
.icon-list__container-link:focus {
  background-color: var(--ocean);
}

/* finished - team section */
/* =========Finished TEAM_SECTION ===========*/

/* start - portfolio section */
/* =========Start PORTFOLIO_SECTION ===========*/
.portfolio {
}

.portfolio__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__container {
  position: relative;
  overflow: hidden;
}
.portfolio-list__item:hover,
.portfolio-list__item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio_border {
  position: relative;
  top: 0;
  left: 0;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  padding: 32px 16px;
  background-color: var(--white);
}

.overlay {
  position: absolute;
  background-color: var(--iris);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-list__description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* finished - portfolio section */

/* start - footer */

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__contant {
  display: flex;
  align-items: flex-start;
}

.footer .logo {
  margin-bottom: 16px;
}

.webstudio-contant__description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}

.webstudio-contant {
  margin-right: 120px;
}

.sociamedia-contant {
  min-width: 208px;
}

.sociamedia-contant-description {
  color: var(--cloud);
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* finished - footer */

/* ====== costom prop ========= */

.footer .container {
  display: flex;
  align-items: baseline;
}

.side-content {
  margin-right: 120px;
}

.mid-content {
  margin-right: auto;
}
.mid-content__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.mid-list {
  display: flex;
  gap: 16px;
}

.mid-list__item {
  width: 40px;
  height: 40px;
}

.mid-list__link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mid-list__link:hover,
.mid-list__link:focus {
  background-color: var(--green);
}

.mid-list__icon {
  fill: var(--cloud);
}

.side-right-content__title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: var(--white);
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.form-subscribe__label {
}

.form-subscribe__input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
}

.form-subscribe__input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.form-subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  border-color: transparent;
  border-width: 0;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__icon {
  fill: var(--white);
  margin-left: 16px;
}

.form-subscribe__btn:hover,
.form-subscribe__btn:focus {
  background-color: var(--ocean);
}

/* backdpor */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower);
  cursor: pointer;
  border: none;
  fill: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.close-btn:active {
  background-color: var(--ocean);
  fill: var(--white);
}

.modal__title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.label-container {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  border: 1px solid var(--navy-blue-modal);
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--iris);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--iris);
}

.textarea-container {
  margin-bottom: 16px;
}




.modal-form__comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  resize: none;
}

.modal-form__comment:focus {
  border-color: var(--iris);
}



.modal-form__icon-box {
  fill: var(--cloud);
}

.modal-form__label--appere {
  margin: 0;
}

.modal-form__link {
  color: var(--iris);
  text-decoration: underline;
  cursor: pointer;
}

.input-container--flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  margin-right: 8px;
  background-color: var(--cloud);
  fill: transparent;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked
  + .modal-form__label--appere
  .review-form-own-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-form__checkbox:focus
  + .modal-form__label--appere
  .review-form-own-checkbox {
  outline: 1px solid var(--iris);
}
